#footer {
	background-image: url("index.svg");
	background-size: 100vw;
	background-position-y: -10px;
	background-repeat: no-repeat;
}

#footer-links, #header-links {
	display: flex;
	position: absolute;
	

	height: 50px;
	width: 150px;
	justify-content: space-between;
	align-items: center;
	
}


#footer-links {
	bottom: 40px;
	left: 40px;
}

#header-links {
 right: 40px;
 top: 40px;
	
}

.icons {
	width: 40px;
	height: 40px;
}

#discord-icon {
	width: 50px;
	height: 50px;
}

#header {
	height: 70vh;
	position: relative;
	display: flex;
	background-color: #F82A0D;
}

#title-container {
	position: absolute;
top: 50%; 
left: 10%; 
transform: translateY(-50%);

	display: flex;
	justify-content: flex-start;
	
	
	
}

#tagline {
	font-size: 30px;
	margin-top: -130px;
	width: 75vw;
}

#branding {
	font-size: 120px;
	
	font-weight: bolder;
	
}
#title {
	display: flex;
	orientation: vertical;
	
	
}

#footer {
	height: 30vh;
	background-color: #0D4FF8;
}



body {
	background: black;
	color: white;
	font-family: Arial;
	margin: 0 0 0 0;
}

@media only screen and (orientation: landscape){
#footer {
	height: 60vh;
}

#header {
	height: 40vh;
}

}

