@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

title {
  display: inline;
}

.post-outer {
  border-top: solid 0.1px;
  padding-bottom: 20px;
  border-bottom: solid 0.1px;
}

.post-comment-link {
  display: none;
}

.post-stats {
  font-size: 15px;
  display: flex;
  height: 15px;
  align-items: center;
  font-weight: 300;
  justify-content: flex-start;
}

.small-icon {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.post-stats a {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.post-snippet {
  font-size: 15px;
}

.author-name-small {
  font-weight: bold;
}

.author-box-small ul {
  list-style: none;
  margin-left: -20px;
}

.author-box-small {
  margin-bottom: 50px;
  margin-top: -20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  align-items: center;
}

.author-image-small {
  object-fit: contain;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.banner, .banner img {
  object-fit: cover;
  height: auto;
  width: 100%;
  margih-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.featured-image, .featured-image img {
  margin-top: -10px;
  
}




.post-body {
  margin-top: -20px;
  margin-bottom: 20px;
}

.post-body a:link, .post-body a:visited {
  color: #0D4FF8;
}

.post-content {
  margin-top: 20px;
  font-weight: 300;
}

.post-body img {
  border-radius: 5px;
}

.author-title {
  font-weight: bold;
}

.author-image {
  width: 75px;
  border-radius: 5px;
  height: 75px;
}

.author-box {
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: solid 0.25px;
  border-bottom: solid 0.25px;
  height: 175px;
  width: 100%;
}

.author-box ul {
  list-style: none;
}

.blog-person {
  display: flex;
  height: 75px;
  width: 100%;
  margin-bottom: 25px;
  justify-content: flex-start;
}

.blog-desc {
  display: flex;
  height: 75px;
  width: 100%;
  justify-content: flex-start;
}

.right-side {
  display: flex;
  orientation: vertical;
}

.status-msg-wrap {
  display: flex;
  align-items: center;
  height: 25vh;
}

.home-link, .post-author, .post-timestamp {
  display: none;
}

.entry-title, .post-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

#content {
  display: flex;
  width: 100vw;
  margin-top: 1vh;
  margin-bottom: 5vh;
  justify-content: center;
}

#branding a:link, #branding a:visited {
  color: white;
}

#background {
  background-color: white;
}

#Blog1 {
  color: black;
  width: 80vw;
  font-family: "Roboto";
  display: block;
}

a, a:link, a:visited {
  text-decoration: none;
}

#top-wave {
 
margin-top: -25px;
  
  width: 100vw;
  height: 25vw;
}

#top-wave path { fill: #F82A0D; }
#bottom-wave {
  background-image: url("https://nefomemes.github.io/index-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 25vw;
}



#intro-container {
  height: 42.5vh;
  position: relative;
  margin-top: -20px;
}



#navi-links {
  display: flex;
  position: absolute;
  width: calc(100vw - 40px);
  justify-content: space-between;
}

#footer-links, #header-links {
  display: flex;
  position: absolute;
  margin-top: 0px;
  height: 50px;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.link-title {
  font-size: 20px;
  font-weight: bold;
}



.link-bar {
  list-style: none;
}

#footer-links {
  bottom: 40px;
  left: 40px;
}

#header-links {
  right: 40px;
  top: 40px;
}

.icons {
  width: 40px;
  height: 40px;
}

#discord-icon {
  width: 50px;
  height: 50px;
}

#header {
  height: 50vh;
  position: relative;
  margin-bottom: 20px;
  background-color:  #F82A0D;
}



#tagline {
  font-size: 30px;
  margin-top: -70px;
  width: 75vw;
}
#title-container {
position: absolute;
left: 40px;
top: 50%;
transform: translateY(-50%);
}

#branding {
  font-size: 60px;
  font-weight: bolder;
}

#title {
  display: flex;
  orientation: vertical;
}

#footer {
  height: 200px;
  background-color: #0D4FF8;
  position: relative;
  margin-top: -40px;
}

body {
  
  font-family: Arial;
  margin: 0 0 0 0;
}

a, a:link, a:visited {  color: black; }

.link-bar li a {  color: white; }

body {
background: black;  color: white;


}

#background {              background-color: #f7f7f7;     }
/*
.theme-transition {
  
  transition-duration: 4s;
}*/
