#body {              background-color: #181818;     }              

.blog-desc .author-image {     filter: invert(100%);     }         .small-icon {     filter: invert(100%);     }                 * {     color: #f7f7f7     }

a, a:link, a:visited {  color: #f7f7f7;}


#header {
  background-color:  #c51d07;
}

#top-wave path {
fill:  #c51d07;
}

.post-body a:link, .post-body a:visited {  color: #0D4FF8;}

