#footer-links, #header-links {
	display: flex;
	position: absolute;
	

	height: 40px;
	width: 150px;
	justify-content: space-between;
	align-items: center;
	
}

#footer-links {
	bottom: 40px;
	left: 40px;
}

#header-links {
 right: 40px;
 top: 40px;
	
}

.icons {
	width: 40px;
	height: 40px;
}



body {
	background: black;
}