
a {
	text-decoration: none;
}


#background {
	background-image: url("bg-white.svg");
}

#top-wave {
	background-image: url("index.svg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100vw;
	
	height: 25vw;
}

#bottom-wave {
	background-image: url("index-bottom.svg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100vw;
	

	height: 25vw;
}

#footer {
	
	margin-top: -20px;
}
#intro-container {

	height: 42.5vh;
	position: relative;
	
	margin-top: -20px;
}

#intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	width: 60%;
	font-size: 30px;
	font-weight: 300;

	
	
}

#navi-links {
	display: flex;
	position: absolute;
	
	
	width: calc(100vw - 40px);
	justify-content: space-between;

}

#footer-links, #header-links {
	display: flex;
	position: absolute;
	
margin-top: 0px;
	height: 50px;
	width: 150px;
	justify-content: space-between;
	align-items: center;
	
}

.link-title {
	font-size: 20px;
	font-weight: bold;
	
	
}
.link-bar li a{
color: white;
}
.link-bar {
	list-style: none;
}

#footer-links {
	bottom: 40px;
	left: 40px;
}

#header-links {
 right: 40px;
 top: 40px;
	
}

.icons {
	width: 40px;
	height: 40px;
}

#discord-icon {
	width: 50px;
	height: 50px;
}

#header {
	height: 55vh;
	position: relative;

	background-color: #F82A0D;
}

#title-container {
	position: absolute;
	top: 30vh; left: 10%; 
transform: translate( -0%,-50%);
	display: flex;
	justify-content: flex-start;
	
	
	
}

#tagline {
	font-size: 30px;
	margin-top: -70px;

width: 75vw;
}

#branding {
	font-size: 60px;
	
	font-weight: bolder;
	
}
#title {
	display: flex;
	orientation: vertical;
	
	
}

#footer {
	height: 25vh;
	background-color: #0D4FF8;
	position: relative;

}



body {
	background: black;
	color: white;
	font-family: Arial;
	margin: 0 0 0 0;
}

@media only screen and (orientation: landscape){

#title-container {
	transform: translateY(-20%);
}

}


@media only screen and (orientation: portrait){
	#header {
		height: 80vh;
	}
	
	#intro-container {
		height: 42.5vh;
		
	}
	
	
}
