<!DOCTYPE html>
<html>

<head>
	<meta name="theme-color" content="#181818" />
	<title>Nefomemes</title>
	<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/app.css" />
	<script src="https://unpkg.com/vue@next"></script>
</head>

<body>

	<script src="//cdn.jsdelivr.net/npm/eruda">

	</script>
	<script>
		eruda.init();
	</script>
	
<div id="content-container">
    	
     <div v-if="loading" class="loading">
      <div id="loading-screen"> </div>
    </div>

    <div v-if="error" class="error">
      {{ error }}
    </div>

    <div v-if="template" v-html="template" class="content" >
    
    </div>
      </div>
	<!--
	<div class="contact">
		<div><p>Wanna do something cool together</p></div>
		<div>
			<p>or just wanna contact me maybe</p>
		</div>

		<div>
			</div>

		</div>-->

	<footer id="footer">
		<nav id="navi-links">
			<ul class="links-bar">
				<li class="link-title">
					This website
				</li>
				<li>Privacy Policy</li>
				<li>Source code</li>
			</ul>
			<ul class="links-bar">
				<li class="link-title">
					Other stuff
				</li>
				<li><a href="https://medium.com/@Nefomemes">Blog</a></li>
				<li>
					<a href="https://nefomemes.instatus.com/">Status page</a> </li>


			</ul>

			<!--	<ul>
						<li class="link-title">
							My projects
							</li>
							<li>Project Fortress</li>
						</ul> -->
		</nav>


		<div id="copyright-container">
			<div id="copyright">

				@2021 Nefomemes. This website is open source and is lisenced under the MIT License.


			</div>
		</div>

		<div id="footer-links">
			<a href="https://github.com/Nefomemes"><img src="/assets/icons/github.svg" class="icons"></a>


  <a href="https://twitter.com/ForTombstone">	<img src="/assets/icons/twitter.svg" class="icons"></a>
  	<a href="https://repl.it/@Nefomemes">	<img src="/assets/icons/replit.svg" class="icons"></a>
					
			</div>

		</footer>
		
<script src="/app.js"></script>
</body>
</html>